<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
  <span>Products list</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
<!-- 	<div class="spinner-container" *ngIf="products.loading$ | async"> -->
<!--         <mat-spinner></mat-spinner> -->
<!--     </div> -->

	<mat-table [dataSource]="products" class="mat-elevation-z8">
		<!-- Id Column -->
		<ng-container matColumnDef="id">
	    	<mat-header-cell *matHeaderCellDef> Product Id </mat-header-cell>
	    	<mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
	  	</ng-container>
	
	  	<!-- Name Column -->
	  	<ng-container matColumnDef="name">
	    	<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
	    	<mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
	  	</ng-container>
	  
	  	<!-- Amount Column -->
	  	<ng-container matColumnDef="amount">
	    	<mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
	    	<mat-cell *matCellDef="let product"> {{product.amount}} </mat-cell>
	  	</ng-container>
	  
	  	<!-- Action Column -->
	  	<ng-container matColumnDef="action">
	    	<mat-header-cell *matHeaderCellDef>
		        <button mat-icon-button color="primary" (click)="openProductDialog()">
		          <mat-icon aria-label="Add new product">add</mat-icon>
		        </button>
	      	</mat-header-cell>
	      	<mat-cell *matCellDef="let product">
		        <button mat-icon-button color="primary" (click)="openProductDialog(product)">
		          <mat-icon aria-label="Edit">edit</mat-icon>
		        </button>
		
		        <button mat-icon-button color="primary" (click)="openDeleteProductDialog(product)">
		          <mat-icon aria-label="Delete">delete</mat-icon>
		        </button>
	      	</mat-cell>
	  	</ng-container>
	
	  	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	  	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

<!-- 	<div class="no-results" [style.display]="products.length == 0 ? '' : 'none'"> -->
<!-- 		No products -->
<!-- 	</div> -->
<!-- 	<mat-paginator #paginator -->
<!--                  [length]="6" -->
<!--                  [pageIndex]="0" -->
<!--                  [pageSize]="10" -->
<!--                  [pageSizeOptions]="[5, 10, 25, 100]"> -->
<!-- 	</mat-paginator> -->
</div>

